:root {
    scroll-behavior: smooth;
    --base: #011c3c; 
    --light: #5a87bf;
    --contrast: #f28140; 
    --letter: #fff;
    --base-two: #0d0d0d; 
    --invert-color: invert(1);
    --base-light: #011c3c4d;
}

* {
    box-sizing: border-box;
}



body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    color: var(--letter);
    background-color: var(--base-two);
}

/* Menu de navegacion */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.3rem 1.8rem;
    
    background-color: var(--base-two);
    border-bottom: 3.5px solid var(--contrast);
}

.logo {
    font-family: 'Goldman', cursive;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .6em;
    text-transform: uppercase;
    
    color: var(--letter);
}

.nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav__item {
    display: inline-block;
}

.nav__element, 
.logo {
    display: block;
    padding: .3em 1em;

    text-decoration: none;

    color: var(--letter);
}

.nav__element {
    font-size: 1.2em;
}

.nav__element:hover {
    border-radius: 0.35em;

    color: var(--base-two);
    background-color: var(--contrast);

    transition: all 0.25s linear;
}

.nav__button-menu {
    display: none;
    height: 25px;
    filter: var(--invert-color);
}

/* Menu de navegacion para dispositivos moviles */

@media only screen and (max-width: 767px) {

    .nav__button-menu {
        display: block;
        cursor: pointer;
    }

    .nav__list {
        width: 100%;
        display: none;
    }

    .nav__list.show {
        width: 100%;
        margin-top: 1rem;
        display: block;
    }
    
    .nav__element {
        padding: .3rem 1.5rem;
    }
    
    .nav__item {
        display:block;
        margin-left: 3px;
    }

}


/* Header */

.header{ 
    position: relative;
    z-index: 100;

    width: 100%;
    height: 100vh;
    padding-top: 90px;
    /* background-color: var(--base-two); */
}

.header__image {
    height: 100%;
    width: 50%;

    background-image: url(/assets/images/background-1920x1280.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.header__about-me {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--base-two);

    top:0;
    right: 0;
}

.header__text{
    
    height: 150px;
    width: 550px;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40%;
    /* background-color: var(--base-light); */

    border-radius: 20px;
    border-top: 3px solid var(--contrast) ;
    border-right: 3px solid var(--contrast);

    box-shadow: -5px 4px 15px 3px #77889909;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

.header__text__my-name {
    font-weight: inherit;
}
